/* #212121 text  h + nav
#000000 text logo
#2196F3 accent 
#757575 tel p main
#FFFFFF background
rgba(255, 255, 255, 0.6); adress bottom


Raleway 700 font logo
Roboto 400,500,700,900 font main

font-family: 'Raleway', sans-serif; Logo
font-family: 'Roboto', sans-serif;
 */

/*header, 
.hero,
.advantages,
.activities,
.team,
.clients,
.footer,
.gallery {
  background-color: tomato;
} */

/* .header {
  height: 80px;
} */

/* cubic-bezier(0.4, 0, 0.2, 1) */

/* @keyframes textY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
} */
