.gallery {
  @extend %section;
  .container {
    @extend %container;
  }
}

.filter-list {
  @extend %list;
  @include flex-justify($justify: center);
  margin-bottom: 50px;
}

.filter-list-item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  color: $title-color;
  background-color: $secondary-bg-color;
  border-radius: 4px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 6px 22px;
}

.filter-button {
  &:hover,
  &:focus {
    color: $dark-theme-text-color;
    background-color: $accent-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}

.filter-list-descr {
  font-size: 16px;
  line-height: 1.87;
  color: $main-text-color;

  margin-top: 0;
  margin-bottom: 0;
}
