.header {
  position: relative;
border-bottom: 1px solid #ECECEC;
  .container {
   
    
    @media screen and (min-width: 480px){
      width: 480px;

      

    }
    @media screen and(max-width:767px){
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
    }
  } 
    }
  



@media screen and(max-width:767px){
  .header-menu__button{
width: 40px;
height: 40px;
background-color: transparent;
border:none;
&:hover,
&:focus{
  outline: none;
}
.icon-menu-close{
    display: none;
  }
  &.is-open .icon-menu-close{
    display: block;
  }
  
  &.is-open .icon-menu{
    display: none;
  }
  }
}

  @media screen and(min-width:768px){
    .header-menu__button{
      display:none;
    }
    
  }


  