.logo {
  @extend %link;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  color: #000000;
  &.header-logo {
    margin-right: 85px;
  }
  &.white {
    /* identical to box height */
    color: #ffffff;

    margin-bottom: 20px;
  }
  &-blue {
    color: $accent-color;
  }
}
