%link {
  display: block;
  text-decoration: none;
  font-style: normal;
}

%list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

%section {
  padding-top: 94px;
  padding-bottom: 94px;
}

%container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
